.background{
    background-color: rgb(224, 224, 239);
    width:cover;
    height:500px;
}
.text{
    text-align: center;
}
.table{
    margin-left: auto;
    margin-right: auto;
}
.form{
    padding: 20px;
}
